.box{
    background-color: #f5f5f5;
}
.box-list ul li{
    list-style: none;
}
.heading h6{
    color: #0c65d5;
}
.description{
    font-weight: 400;
}
.icon{
    color: #0c65d5;
}
.box2{
    background-color: #0c65d5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box2 ul li{
    list-style: none;
}