.feature-section{
  overflow: hidden;
}
.feature-list li {
  list-style: none;
  padding: 13px 10px 13px 28px;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  transition: all .3s linear;
  margin-bottom: 5px;
  cursor: pointer;
  color: #0952c2;
  background: #f9f9f9;
  box-shadow: rgb(187 209 255) 0px 5px 15px;
  font-family: var(--primary-font);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.feature-list li:before {
  content: "✓";
  position: absolute;
  left: 10px;
  font-size: 16px;
  font-weight: 900;
}
.feature-data-list li{
  list-style: none;
  padding: 0px 0px 0px 28px;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  margin-bottom: 1.25rem;
  cursor: pointer;
  color: var(--black-color);
  font-family: var(--primary-font);
}
.feature-data-list li:before {
  content: "☑";
  position: absolute;
  font-size: 20px;
  font-weight: 900;
  margin-right: 10px;
  top: -3px;
  left: 0px;
  color: #0d6adb;;
}

.feature-list li:hover {
  background-image: linear-gradient(to right, #02218f, #0e72e3, #02218f, #0e72e3);
  color: var(--white-color);
}
.description{
  color: #313131!important;
  font-weight: 400 !important;
  margin-bottom: 15px !important;
}
.text-font-size a{
  font-size: 16px !important;
  color: #6749F1 !important;
  margin-left: 5px !important;
  font-family: var(--primary-font);
  text-decoration: none;
  font-weight: 400 !important;
}
.form-control{
  padding: 15px 25px !important;
    color: #160f30 !important;
    font-size: 16px !important;
    background-color: #F4F6FA !important;
    height: auto;
    border-radius: 0 ;
    box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.2);

}
.form-control:focus {
  box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.2) !important;
  border: 1px solid #02218f;
  transform: translateY(-3px);
}
/* Animation for sliding from right to left */
.animated-feature {
  animation: slideInFromRight 1.5s ease-in-out;
  opacity: 1;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Default styling for hidden content */
.animated-feature-hidden {
  opacity: 0;
}






.section-heading{
  font-size: 24px !important;
  font-weight: 500 !important;
}
.card-pack{
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 0px !important;
}
.card-text {
  font-size: 0.875rem !important;
  margin-bottom: 1rem;
  font-weight: 400 !important;
}
.btn-1{
  padding: 5px 15px !important;
  border-radius: 4px !important;
  border: 2px solid transparent !important;
  box-shadow: none !important;
  width: 60% !important;
}

.bottom-list ul li {
  list-style: none;
  position: relative;
  font-size: 16px;
  font-family: var(--primary-font);
  padding-left: 28px;
  margin-bottom: 20px;
}
.bottom-list ul li:before {
  content: "☑";
  position: absolute;
  font-size: 20px;
  font-weight: 900;
  top: -3px;
  left: 0px;
  color: #0d6adb;
  filter: drop-shadow(1px 0px 0px #0d6adb);
}
.badge1{
  background-color: #0d6adb;
}
.price-highlight {
  color: #0d6adb; /* green */
  font-weight: 700 !important;
  font-size: 1.5rem !important;

}
