.footer-back {
  background-image: linear-gradient(
      90deg,
      rgb(17 36 75 / 94%) 100%,
      rgb(17 36 75) 0%,
      rgba(36, 22, 99, 0.11) 0%,
      rgb(17 36 75) 100%
    ),
    url(../../assets/hero&footerimg/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.list {
  list-style-type: none;
}
.list li {
  margin-bottom: 10px;

  position: relative;
}
.list li a {
  font-weight: 400 !important;
  display: flex;
  gap: 15px;
  align-items: center;
  transition: all 0.3s linear;
}
.list li a:hover {
  color: #0d69da !important;
}
.footer-lower {
  border-top: 1px solid #bababa80;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #11244b;
}
.footer-lower p a {
  font-weight: 400 !important;
  transition: all 0.3s linear;
}
.footer-lower p a:hover {
  color: #0d69da !important;
}
